
src/.vs/src/v16/Browse.VC.opendb
src/.vs/ProjectSettings.json
src/.vs/slnx.sqlite
src/.vs/src/v16/.suo
src/.vs/src/v16/Browse.VC.db
src/.vs/src/v16/Browse.VC.db-shm
src/.vs/src/v16/Browse.VC.db-wal
src/.vs/src/v16/ipch/AutoPCH/69f12fd55cb83392/VERTEX.ipch
src/.vs/src/v16/ipch/AutoPCH/708aa58a2ed7a247/FUNCTIONS.ipch
src/.vs/src/v16/ipch/AutoPCH/a7e31ec740dc6b9/INTERFACE.ipch
src/.vs/src/v16/ipch/AutoPCH/b25adc3fad741891/FACE.ipch
src/.vs/src/v16/ipch/AutoPCH/ebf135e389a4a6e1/NEWMD.ipch
src/.vs/VSWorkspaceState.json
